<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{studentBean.id}'/>
		<f:event type="preRenderView" listener='#{studentBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Student"/>

	<ui:define name="header">
		Student
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty studentBean.id}'>
				Edit existing Student
			</c:when>
			<c:otherwise>
				Create a new Student
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="studentBeanStudentStudentNumber" value="Student_Number:"/>
				<h:outputText id="studentBeanStudentStudentNumber" value="#{studentBean.student.student_Number}"/>
				<h:outputText/>
				<h:outputLabel for="studentBeanStudentFName" value="F Name:"/>
				<h:panelGroup>
					<h:inputText id="studentBeanStudentFName" required="true" value="#{studentBean.student.FName}"/>
					<h:message for="studentBeanStudentFName" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="studentBeanStudentLName" value="L Name:"/>
				<h:panelGroup>
					<h:inputText id="studentBeanStudentLName" required="true" value="#{studentBean.student.LName}"/>
					<h:message for="studentBeanStudentLName" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="studentBeanStudentGender" value="Gender:"/>
				<h:panelGroup>
					<h:inputText id="studentBeanStudentGender" maxLength="1" required="true" value="#{studentBean.student.gender}"/>
					<h:message for="studentBeanStudentGender" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="studentBeanStudentPhone" value="Phone:"/>
				<h:panelGroup>
					<h:inputText id="studentBeanStudentPhone" maxLength="10" required="true" value="#{studentBean.student.phone}"/>
					<h:message for="studentBeanStudentPhone" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="studentBeanStudentEmailId" value="Email Id:"/>
				<h:panelGroup>
					<h:inputText id="studentBeanStudentEmailId" required="true" value="#{studentBean.student.emailId}"/>
					<h:message for="studentBeanStudentEmailId" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="studentBeanStudentSpecial" value="Special:"/>
				<h:panelGroup>
					<h:inputTextarea id="studentBeanStudentSpecial" value="#{studentBean.student.special}"/>
					<h:message for="studentBeanStudentSpecial" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="studentBeanStudentNotifyEvents" value="Notify Events:"/>
				<h:panelGroup>
					<h:selectBooleanCheckbox id="studentBeanStudentNotifyEvents" required="true" value="#{studentBean.student.notifyEvents}"/>
					<h:message for="studentBeanStudentNotifyEvents" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="studentBeanStudentPid" value="Pid:"/>
				<h:outputText id="studentBeanStudentPid" value="#{studentBean.student.pid}"/>
				<h:outputText/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Save" action='#{studentBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty studentBean.id}'>
						<h:link value="Cancel" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{studentBean.id}'/>
						</h:link>
						<h:commandLink value="Delete" action='#{studentBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancel" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>