<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{studentBean.page}'/>
		<f:event type="preRenderView" listener='#{studentBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Search Student entities"/>

	<ui:define name="header">
		Student
	</ui:define>

	<ui:define name="subheader">
		Search Student entities
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="studentBeanExampleFName" value="F Name:"/>
						<h:panelGroup>
							<h:inputText id="studentBeanExampleFName" value="#{studentBean.example.FName}"/>
							<h:message for="studentBeanExampleFName" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="studentBeanExampleLName" value="L Name:"/>
						<h:panelGroup>
							<h:inputText id="studentBeanExampleLName" value="#{studentBean.example.LName}"/>
							<h:message for="studentBeanExampleLName" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="studentBeanExamplePhone" value="Phone:"/>
						<h:panelGroup>
							<h:inputText id="studentBeanExamplePhone" maxLength="10" value="#{studentBean.example.phone}"/>
							<h:message for="studentBeanExamplePhone" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="studentBeanExampleEmailId" value="Email Id:"/>
						<h:panelGroup>
							<h:inputText id="studentBeanExampleEmailId" value="#{studentBean.example.emailId}"/>
							<h:message for="studentBeanExampleEmailId" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="studentBeanExampleSpecial" value="Special:"/>
						<h:panelGroup>
							<h:inputTextarea id="studentBeanExampleSpecial" value="#{studentBean.example.special}"/>
							<h:message for="studentBeanExampleSpecial" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Search" action='#{studentBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Create New" action='#{studentBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="studentBeanPageItems" styleClass="data-table" value="#{studentBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Student_Number"/>
					</f:facet>
					<h:link outcome="/student/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemStudentNumber" value="#{_item.student_Number}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="F Name"/>
					</f:facet>
					<h:link outcome="/student/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemFName" value="#{_item.FName}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="L Name"/>
					</f:facet>
					<h:link outcome="/student/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemLName" value="#{_item.LName}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Gender"/>
					</f:facet>
					<h:link outcome="/student/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemGender" value="#{_item.gender}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Phone"/>
					</f:facet>
					<h:link outcome="/student/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemPhone" value="#{_item.phone}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{studentBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
