<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{studentBean.id}'/>
		<f:event type="preRenderView" listener='#{studentBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Student"/>

	<ui:define name="header">
		Student
	</ui:define>

	<ui:define name="subheader">
		View existing Student
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="studentBeanStudentStudentNumber" value="Student_Number:"/>
			<h:outputText id="studentBeanStudentStudentNumber" value="#{studentBean.student.student_Number}"/>
			<h:outputText/>
			<h:outputLabel for="studentBeanStudentFName" value="F Name:"/>
			<h:outputText id="studentBeanStudentFName" value="#{studentBean.student.FName}"/>
			<h:outputText/>
			<h:outputLabel for="studentBeanStudentLName" value="L Name:"/>
			<h:outputText id="studentBeanStudentLName" value="#{studentBean.student.LName}"/>
			<h:outputText/>
			<h:outputLabel for="studentBeanStudentGender" value="Gender:"/>
			<h:outputText id="studentBeanStudentGender" value="#{studentBean.student.gender}"/>
			<h:outputText/>
			<h:outputLabel for="studentBeanStudentPhone" value="Phone:"/>
			<h:outputText id="studentBeanStudentPhone" value="#{studentBean.student.phone}"/>
			<h:outputText/>
			<h:outputLabel for="studentBeanStudentEmailId" value="Email Id:"/>
			<h:outputText id="studentBeanStudentEmailId" value="#{studentBean.student.emailId}"/>
			<h:outputText/>
			<h:outputLabel for="studentBeanStudentSpecial" value="Special:"/>
			<h:inputTextarea id="studentBeanStudentSpecial" value="#{studentBean.student.special}"/>
			<h:outputText/>
			<h:outputLabel value="Notify Events:"/>
			<h:outputText styleClass="#{studentBean.student.notifyEvents ? 'boolean-true' : 'boolean-false'}" value=""/>
			<h:outputText/>
			<h:outputLabel for="studentBeanStudentPid" value="Pid:"/>
			<h:outputText id="studentBeanStudentPid" value="#{studentBean.student.pid}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>