<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{departmentBean.id}'/>
		<f:event type="preRenderView" listener='#{departmentBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Department"/>

	<ui:define name="header">
		Department
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty departmentBean.id}'>
				Edit existing Department
			</c:when>
			<c:otherwise>
				Create a new Department
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="departmentBeanDepartmentName" value="Name:"/>
				<h:panelGroup>
					<h:inputText id="departmentBeanDepartmentName" required="true" value="#{departmentBean.department.name}"/>
					<h:message for="departmentBeanDepartmentName" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="departmentBeanDepartmentDescription" value="Description:"/>
				<h:panelGroup>
					<h:inputTextarea id="departmentBeanDepartmentDescription" value="#{departmentBean.department.description}"/>
					<h:message for="departmentBeanDepartmentDescription" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="departmentBeanDepartmentPid" value="Pid:"/>
				<h:outputText id="departmentBeanDepartmentPid" value="#{departmentBean.department.pid}"/>
				<h:outputText/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Save" action='#{departmentBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty departmentBean.id}'>
						<h:link value="Cancel" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{departmentBean.id}'/>
						</h:link>
						<h:commandLink value="Delete" action='#{departmentBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancel" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>