<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{departmentBean.page}'/>
		<f:event type="preRenderView" listener='#{departmentBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Search Department entities"/>

	<ui:define name="header">
		Department
	</ui:define>

	<ui:define name="subheader">
		Search Department entities
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="departmentBeanExampleName" value="Name:"/>
						<h:panelGroup>
							<h:inputText id="departmentBeanExampleName" value="#{departmentBean.example.name}"/>
							<h:message for="departmentBeanExampleName" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="departmentBeanExampleDescription" value="Description:"/>
						<h:panelGroup>
							<h:inputTextarea id="departmentBeanExampleDescription" value="#{departmentBean.example.description}"/>
							<h:message for="departmentBeanExampleDescription" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Search" action='#{departmentBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Create New" action='#{departmentBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="departmentBeanPageItems" styleClass="data-table" value="#{departmentBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Name"/>
					</f:facet>
					<h:link outcome="/department/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemName" value="#{_item.name}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{departmentBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
