<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{departmentBean.id}'/>
		<f:event type="preRenderView" listener='#{departmentBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Department"/>

	<ui:define name="header">
		Department
	</ui:define>

	<ui:define name="subheader">
		View existing Department
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="departmentBeanDepartmentName" value="Name:"/>
			<h:outputText id="departmentBeanDepartmentName" value="#{departmentBean.department.name}"/>
			<h:outputText/>
			<h:outputLabel for="departmentBeanDepartmentDescription" value="Description:"/>
			<h:inputTextarea id="departmentBeanDepartmentDescription" value="#{departmentBean.department.description}"/>
			<h:outputText/>
			<h:outputLabel for="departmentBeanDepartmentPid" value="Pid:"/>
			<h:outputText id="departmentBeanDepartmentPid" value="#{departmentBean.department.pid}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>