<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{venueBean.id}'/>
		<f:event type="preRenderView" listener='#{venueBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Venue"/>

	<ui:define name="header">
		Venue
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty venueBean.id}'>
				Edit existing Venue
			</c:when>
			<c:otherwise>
				Create a new Venue
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="venueBeanVenueTitle" value="Title:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueTitle" required="true" value="#{venueBean.venue.title}"/>
					<h:message for="venueBeanVenueTitle" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="venueBeanVenueType" value="Type:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueType" required="true" value="#{venueBean.venue.type}"/>
					<h:message for="venueBeanVenueType" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="venueBeanVenueAddr1" value="Addr 1:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueAddr1" required="true" value="#{venueBean.venue.addr1}"/>
					<h:message for="venueBeanVenueAddr1" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="venueBeanVenueAddr2" value="Addr 2:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueAddr2" value="#{venueBean.venue.addr2}"/>
					<h:message for="venueBeanVenueAddr2" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="venueBeanVenueCity" value="City:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueCity" required="true" value="#{venueBean.venue.city}"/>
					<h:message for="venueBeanVenueCity" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="venueBeanVenueCState" value="C State:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueCState" required="true" value="#{venueBean.venue.CState}"/>
					<h:message for="venueBeanVenueCState" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="venueBeanVenueZip" value="Zip:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueZip" maxLength="5" required="true" value="#{venueBean.venue.zip}"/>
					<h:message for="venueBeanVenueZip" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="venueBeanVenueZipExt" value="Zip_Ext:"/>
				<h:panelGroup>
					<h:inputText id="venueBeanVenueZipExt" maxLength="4" value="#{venueBean.venue.zip_Ext}"/>
					<h:message for="venueBeanVenueZipExt" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="venueBeanVenuePid" value="Pid:"/>
				<h:outputText id="venueBeanVenuePid" value="#{venueBean.venue.pid}"/>
				<h:outputText/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Save" action='#{venueBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty venueBean.id}'>
						<h:link value="Cancel" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{venueBean.id}'/>
						</h:link>
						<h:commandLink value="Delete" action='#{venueBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancel" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>