<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{venueBean.page}'/>
		<f:event type="preRenderView" listener='#{venueBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Search Venue entities"/>

	<ui:define name="header">
		Venue
	</ui:define>

	<ui:define name="subheader">
		Search Venue entities
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="venueBeanExampleTitle" value="Title:"/>
						<h:panelGroup>
							<h:inputText id="venueBeanExampleTitle" value="#{venueBean.example.title}"/>
							<h:message for="venueBeanExampleTitle" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="venueBeanExampleType" value="Type:"/>
						<h:panelGroup>
							<h:inputText id="venueBeanExampleType" value="#{venueBean.example.type}"/>
							<h:message for="venueBeanExampleType" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="venueBeanExampleAddr1" value="Addr 1:"/>
						<h:panelGroup>
							<h:inputText id="venueBeanExampleAddr1" value="#{venueBean.example.addr1}"/>
							<h:message for="venueBeanExampleAddr1" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="venueBeanExampleAddr2" value="Addr 2:"/>
						<h:panelGroup>
							<h:inputText id="venueBeanExampleAddr2" value="#{venueBean.example.addr2}"/>
							<h:message for="venueBeanExampleAddr2" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="venueBeanExampleCity" value="City:"/>
						<h:panelGroup>
							<h:inputText id="venueBeanExampleCity" value="#{venueBean.example.city}"/>
							<h:message for="venueBeanExampleCity" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Search" action='#{venueBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Create New" action='#{venueBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="venueBeanPageItems" styleClass="data-table" value="#{venueBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Title"/>
					</f:facet>
					<h:link outcome="/venue/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemTitle" value="#{_item.title}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Type"/>
					</f:facet>
					<h:link outcome="/venue/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemType" value="#{_item.type}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Addr 1"/>
					</f:facet>
					<h:link outcome="/venue/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemAddr1" value="#{_item.addr1}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="City"/>
					</f:facet>
					<h:link outcome="/venue/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemCity" value="#{_item.city}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="C State"/>
					</f:facet>
					<h:link outcome="/venue/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemCState" value="#{_item.CState}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{venueBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
