<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{venueBean.id}'/>
		<f:event type="preRenderView" listener='#{venueBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Venue"/>

	<ui:define name="header">
		Venue
	</ui:define>

	<ui:define name="subheader">
		View existing Venue
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="venueBeanVenueTitle" value="Title:"/>
			<h:outputText id="venueBeanVenueTitle" value="#{venueBean.venue.title}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenueType" value="Type:"/>
			<h:outputText id="venueBeanVenueType" value="#{venueBean.venue.type}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenueAddr1" value="Addr 1:"/>
			<h:outputText id="venueBeanVenueAddr1" value="#{venueBean.venue.addr1}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenueAddr2" value="Addr 2:"/>
			<h:outputText id="venueBeanVenueAddr2" value="#{venueBean.venue.addr2}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenueCity" value="City:"/>
			<h:outputText id="venueBeanVenueCity" value="#{venueBean.venue.city}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenueCState" value="C State:"/>
			<h:outputText id="venueBeanVenueCState" value="#{venueBean.venue.CState}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenueZip" value="Zip:"/>
			<h:outputText id="venueBeanVenueZip" value="#{venueBean.venue.zip}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenueZipExt" value="Zip_Ext:"/>
			<h:outputText id="venueBeanVenueZipExt" value="#{venueBean.venue.zip_Ext}"/>
			<h:outputText/>
			<h:outputLabel for="venueBeanVenuePid" value="Pid:"/>
			<h:outputText id="venueBeanVenuePid" value="#{venueBean.venue.pid}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>