<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{eventBean.id}'/>
		<f:event type="preRenderView" listener='#{eventBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Event"/>

	<ui:define name="header">
		Event
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty eventBean.id}'>
				Edit existing Event
			</c:when>
			<c:otherwise>
				Create a new Event
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="eventBeanEventTitle" value="Title:"/>
				<h:panelGroup>
					<h:inputText id="eventBeanEventTitle" required="true" value="#{eventBean.event.title}"/>
					<h:message for="eventBeanEventTitle" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="eventBeanEventDescription" value="Description:"/>
				<h:panelGroup>
					<h:inputTextarea id="eventBeanEventDescription" value="#{eventBean.event.description}"/>
					<h:message for="eventBeanEventDescription" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="eventBeanEventEBegin" value="E Begin:"/>
				<h:panelGroup>
					<h:inputText id="eventBeanEventEBegin" required="true" value="#{eventBean.event.EBegin}">
						<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
					</h:inputText>
					<h:message for="eventBeanEventEBegin" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="eventBeanEventEEnd" value="E End:"/>
				<h:panelGroup>
					<h:inputText id="eventBeanEventEEnd" required="true" value="#{eventBean.event.EEnd}">
						<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
					</h:inputText>
					<h:message for="eventBeanEventEEnd" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="eventBeanEventAState" value="A State:"/>
				<h:panelGroup>
					<h:inputText id="eventBeanEventAState" required="true" value="#{eventBean.event.AState}"/>
					<h:message for="eventBeanEventAState" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="eventBeanEventCDate" value="C Date:"/>
				<h:outputText id="eventBeanEventCDate" value="#{eventBean.event.CDate}">
					<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
				</h:outputText>
				<h:outputText/>
				<h:outputLabel for="eventBeanEventMDate" value="M Date:"/>
				<h:outputText id="eventBeanEventMDate" value="#{eventBean.event.MDate}">
					<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
				</h:outputText>
				<h:outputText/>
				<h:outputLabel for="eventBeanEventPid" value="Pid:"/>
				<h:outputText id="eventBeanEventPid" value="#{eventBean.event.pid}"/>
				<h:outputText/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Save" action='#{eventBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty eventBean.id}'>
						<h:link value="Cancel" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{eventBean.id}'/>
						</h:link>
						<h:commandLink value="Delete" action='#{eventBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancel" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>