<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{eventBean.page}'/>
		<f:event type="preRenderView" listener='#{eventBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Search Event entities"/>

	<ui:define name="header">
		Event
	</ui:define>

	<ui:define name="subheader">
		Search Event entities
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="eventBeanExampleTitle" value="Title:"/>
						<h:panelGroup>
							<h:inputText id="eventBeanExampleTitle" value="#{eventBean.example.title}"/>
							<h:message for="eventBeanExampleTitle" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="eventBeanExampleDescription" value="Description:"/>
						<h:panelGroup>
							<h:inputTextarea id="eventBeanExampleDescription" value="#{eventBean.example.description}"/>
							<h:message for="eventBeanExampleDescription" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="eventBeanExampleEBegin" value="E Begin:"/>
						<h:panelGroup>
							<h:inputText id="eventBeanExampleEBegin" value="#{eventBean.example.EBegin}">
								<f:convertDateTime type="both"/>
							</h:inputText>
							<h:message for="eventBeanExampleEBegin" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="eventBeanExampleEEnd" value="E End:"/>
						<h:panelGroup>
							<h:inputText id="eventBeanExampleEEnd" value="#{eventBean.example.EEnd}">
								<f:convertDateTime type="both"/>
							</h:inputText>
							<h:message for="eventBeanExampleEEnd" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="eventBeanExampleAState" value="A State:"/>
						<h:panelGroup>
							<h:inputText id="eventBeanExampleAState" value="#{eventBean.example.AState}"/>
							<h:message for="eventBeanExampleAState" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Search" action='#{eventBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Create New" action='#{eventBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="eventBeanPageItems" styleClass="data-table" value="#{eventBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Title"/>
					</f:facet>
					<h:link outcome="/event/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemTitle" value="#{_item.title}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="E Begin"/>
					</f:facet>
					<h:link outcome="/event/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemEBegin" value="#{_item.EBegin}">
							<f:convertDateTime type="both"/>
						</h:outputText>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="E End"/>
					</f:facet>
					<h:link outcome="/event/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemEEnd" value="#{_item.EEnd}">
							<f:convertDateTime type="both"/>
						</h:outputText>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="A State"/>
					</f:facet>
					<h:link outcome="/event/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemAState" value="#{_item.AState}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="C Date"/>
					</f:facet>
					<h:link outcome="/event/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemCDate" value="#{_item.CDate}">
							<f:convertDateTime type="both"/>
						</h:outputText>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{eventBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
