<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{eventBean.id}'/>
		<f:event type="preRenderView" listener='#{eventBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Event"/>

	<ui:define name="header">
		Event
	</ui:define>

	<ui:define name="subheader">
		View existing Event
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="eventBeanEventTitle" value="Title:"/>
			<h:outputText id="eventBeanEventTitle" value="#{eventBean.event.title}"/>
			<h:outputText/>
			<h:outputLabel for="eventBeanEventDescription" value="Description:"/>
			<h:inputTextarea id="eventBeanEventDescription" value="#{eventBean.event.description}"/>
			<h:outputText/>
			<h:outputLabel for="eventBeanEventEBegin" value="E Begin:"/>
			<h:outputText id="eventBeanEventEBegin" value="#{eventBean.event.EBegin}">
				<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="eventBeanEventEEnd" value="E End:"/>
			<h:outputText id="eventBeanEventEEnd" value="#{eventBean.event.EEnd}">
				<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="eventBeanEventAState" value="A State:"/>
			<h:outputText id="eventBeanEventAState" value="#{eventBean.event.AState}"/>
			<h:outputText/>
			<h:outputLabel for="eventBeanEventCDate" value="C Date:"/>
			<h:outputText id="eventBeanEventCDate" value="#{eventBean.event.CDate}">
				<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="eventBeanEventMDate" value="M Date:"/>
			<h:outputText id="eventBeanEventMDate" value="#{eventBean.event.MDate}">
				<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="eventBeanEventPid" value="Pid:"/>
			<h:outputText id="eventBeanEventPid" value="#{eventBean.event.pid}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>